{%  extends "base_z.html" %}
{%  block title %}{{  object.region_name }}>>区域信息{%  endblock %}
{%  block main_content %}  
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					区域详细信息
					<small></small>
				</h2>
				<ul class="nav  navbar-right  panel_toolbox">
					<li>
						<a href="" class="collapse-link">
							<i  class="fa fa-chevron-up"></i>
						</a>
					</li>
					<li  class="dropdown">
						<a href="#" class="dropdown-toggle"  aria-expanded="false" role="button" data-toggle="dropdown">
							<i  class="fa fa-wrench"></i>
						</a>
						<ul   class="dropdown-menu" role="menu">
							<li>
								<a href="#">Settings 1</a>
							</li>
							<li>
								<a href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="close-link">
							<i class="fa  fa-close"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<div  class="x_content">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>区域编号</th>
							<th>区域描述</th>
							<th>区域名称</th>
							<th>保留项</th>
							<th>访问密钥</th>
							<th>添加或修改时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">{{  object.id  }}</th>
							<td>{{  object.region_id }}</td>
							<td>{{  object.region_info }}</td>
							<td>{{  object.region_name}}</td>
							<td>{{  object.reserved}}</td>
							<td>{{  object.access_key}}</td>
							<td>{{  object.date_time}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--x_content_end-->
		</div>
	</div>
</div> 
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					可访问所属设备列表
					<small></small>
				</h2>
				<ul class="nav  navbar-right  panel_toolbox">
					<li>
						<a href="" class="collapse-link">
							<i  class="fa fa-chevron-up"></i>
						</a>
					</li>
					<li  class="dropdown">
						<a href="#" class="dropdown-toggle"  aria-expanded="false" role="button" data-toggle="dropdown">
							<i  class="fa fa-wrench"></i>
						</a>
						<ul   class="dropdown-menu" role="menu">
							<li>
								<a href="#">Settings 1</a>
							</li>
							<li>
								<a href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="close-link">
							<i class="fa  fa-close"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<div>
			<form class="form-inline" role="form"  method="GET">
				{%  csrf_token %}
					<!--div class="form-group" >
					<label  for="s_time">日期检索</label>
   					<div  id="datetimepicker" date-date="2016-05-16 14:14:14" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="s_time" data-link-format="yyyy-mm-dd hh:ii:ss">
      						<input type="text"  class="form-control" id="s_time" 
        						 placeholder="请输入名称" value="" readonly>
   					</div>
   					<input type="hidden" id="s_time" value="" /><br/>
   					</div-->
   					 <!--div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy"-->
   					 <div class="form-group">
   					 <label  for="s_name">设备名称:</label>
    					<input type="text" name="s_name" value="{{request.GET.s_name}}" id="s_name" >
    					</div>

    					<!--/div--> 
   					<button type="submit" class="btn btn-default"> 搜索 </button>
			</form>
			 
			<!--form method="GET">
				<input type='number' name="s_value">
				<input type="submit">
			</form-->
			</div>
			<!--x_content<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
			<div  class="x_content">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>设备编号</th>
							<th>设备描述</th>
							<th>所属区域</th>
							<th>设备名称</th>
							<th>访问密钥</th>
							<th>添加或修改时间</th>
						</tr>
					</thead>
					<tbody>
					{%  for dev  in  object_list %}
						<tr>
							<th scope="row">{{  dev.id  }}</th>
							<td>{{  dev.dev_id }}</td>
							<td>{{  dev.dev_info }}</td>
							<td>{{  dev.region.region_name }}</td>
							<td>{{  dev.dev_name}}</td>
							<td>{{  dev.access_key}}</td>
							<td>{{  dev.date_time}}</td>
							<td><a href={%  url  "devdetail"  dev.id %}>详情<span class="glyphicon glyphicon-tag" aria-hidden="true"></span></a></td>


						</tr>
					{%   endfor  %}
					</tbody>
				</table>
				<div class="btn-group">

  					<!--button  class="btn btn-default"--><a class="btn btn-default" href="{{ request.path}}?s_name={{ request.GET.s_name }}&page=1"><<</a><!--/button-->
  					{% if  page_obj.has_previous %}
  					<a  class="btn btn-default" href="{{  request.path }}?s_name={{ request.GET.s_name }}&page={{ page_obj.previous_page_number }}">上一页</a>
  					{% else %}
  					<a class="btn btn-default disabled">上一页</a>
  					{% endif %}


  					{%  for i in page_obj.paginator.page_range %}
  					<a  {% if page_obj.number == i %}class="btn btn-success  active" {% else %} class="btn btn-default "{% endif%} href="{{ request.path }}?s_name={{ request.GET.s_name }}&page={{ i }}">{{ i }}</a>
  					{% endfor %}

  					{%  if page_obj.has_next %}
  					<a class="btn btn-default" href="{{ request.path}}?s_name={{ request.GET.s_name }}&page={{ page_obj.next_page_number }}">下一页</a>
  					{% else %}
  					<a class="btn btn-default disabled">下一页</a>
  					{% endif %}
  					<a class="btn btn-default" href="{{ request.path }}?s_name={{ request.GET.s_name }}&page={{ page_obj.paginator.num_pages}}">>></a>
				</div>
			</div>
			<!--x_content_end-->
		</div>
	</div>
</div>

{%     endblock %}
