{%  extends "base_z.html" %}
{%  block title %}{{  object.sensor_name }}>>传感器信息{%  endblock %}
{%  block main_content %}   
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					传感器详细信息
					<small></small>
				</h2>
				
				
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<!--x_content<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
			<div  class="x_content">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>传感器编号</th>
							<th>传感器描述</th>
							<th>所属设备</th>
							<th>传感器类型</th>
							<th>传感器名称</th>
							<th>添加或修改时间</th>
						</tr>
					</thead>
					<tbody>
					
						<tr>
							<th scope="row">{{  object.id  }}</th>
							<td>{{  object.sensor_id  }}</td>
							<td>{{  object.sensor_info }}</td>
							<td><a href={% url 'devdetail' object.dev.id %}><font color="#0000FF">{{  object.dev.dev_name }}</font></a></td>
							<td>{{  object.sensor_type}}</td>
							<td>{{  object.sensor_name}}</td>
							<td>{{  object.date_time}}</td>
							


						</tr>
					
					</tbody>
				</table>
			</div>
			<!--x_content_end-->
		</div>
	</div>
</div>
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					传感器当前数值 <p id='clock'> </p>
					<small></small>
				</h2>
				
				
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<!--x_content<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
			<div  class="x_content">
				<div class="row">
                                        <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a href="#">
                                            <div class="tile-stats" id="status_1" style="height:350px;">
                                                
                                            </div>
                                            </a>
                                        </div>
                                        <div class="animated flipInY col-lg-7 col-md-6 col-sm-6 col-xs-12">
                                            <div class="tile-stats"  id="status_2" style="height:350px;">
                                                
                                            </div>
                                        </div>
                                        <div class="animated flipInY col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                            <div class="tile-stats"  id="status_3" style="height:350px;">
                                               
                                            
					
							
							
							
							
						
				<table id="example" class="table table-striped responsive-utilities jambo_table">
                                       			<thead>
                                            			<tr class="headings">
                                                				<th>最大值时间点：  共{{ today_max_objs|length}}个</th>
                                            			</tr>
                                        			</thead>
					<tbody>
						{%  for  data in  today_max_objs %}
						<tr class="even pointer">
							<td scope="row">{{  data.date_time|date:"Y-m-d H:i:s" }}</td>

						</tr>
						
						{%  endfor %}
					</tbody>
				</table>
				<table id="example1" class="table table-striped responsive-utilities jambo_table">
					<thead>
						<tr class="headings">
							
							<th>最小值时间点：  共{{ today_min_objs|length}}个</th>
							
							
						</tr>
					</thead>
					<tbody>
						{%  for  data in  today_min_objs %}
						<tr class="even pointer">
							<td scope="row">{{  data.date_time|date:"Y-m-d H:i:s" }}</td>
							
							
							

						</tr>
					{%  endfor %}
					</tbody>
				</table>
                                                    
                                            </div>
                                        </div>
                                    </div><!--row_end-->
			</div>
			<!--x_content_end-->
		</div>
	</div>
</div>
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					分析工具组件
					<small></small>
				</h2>
				
				
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<!--x_content<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
			<div  class="x_content">
				<div class="row">
                                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <a href="#">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                                                </div>
                                                <div class="count">功能1</div>

                                                <h3>New Sign ups</h3>
                                                <p>Lorem ipsum psdea itgum rixt.</p>
                                            </div>
                                            </a>
                                        </div>
                                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-comments-o"></i>
                                                </div>
                                                <div class="count">功能2</div>

                                                <h3>New Sign ups</h3>
                                                <p>Lorem ipsum psdea itgum rixt.</p>
                                            </div>
                                        </div>
                                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                                                </div>
                                                <div class="count">功能3</div>

                                                <h3>New Sign ups</h3>
                                                <p>Lorem ipsum psdea itgum rixt.</p>
                                            </div>
                                        </div>
                                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-check-square-o"></i>
                                                </div>
                                                <div class="count">功能4</div>

                                                <h3>New Sign ups</h3>
                                                <p>Lorem ipsum psdea itgum rixt.</p>
                                            </div>
                                        </div>
                                    </div><!--row_end-->
			</div>
			<!--x_content_end-->
		</div>
	</div>
</div>
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					传感器数据表
					<small></small>
				</h2>
				
				
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<!--x_content<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
			<div>
			<form class="form-inline" role="form"  method="GET">
				
					
   					 <div class="form-group">
      						<label  for="s_select">绘图数据点间隔（默认为1）</label>
     					 	<input type="number" name="s_select" id="s_select" class="form-control " value='{{request.GET.s_select}}'>
   					</div>
   					<div class="form-group">
   					 <div >
   					 <label  for="s_st">起始时间</label>
    					<input type="text" name="s_st" value="{{request.GET.s_st}}" id="datetimepicker1" data-date-format="yyyy-mm-dd hh:ii:ss" readonly>
    					</div>
    					<div >
   					 <label  for="s_et">终止时间</label>
    					<input type="text" name="s_et" value="{{request.GET.s_et}}" id="datetimepicker2" data-date-format="yyyy-mm-dd hh:ii:ss" readonly>
    					</div>
    					</div>
    					<!--/div--> 
   					<div class="form-group">
      						<label for="name">条件</label>
      						<select class="form-control" name='s_gle'>
      								{% if request.GET.s_gle %}
      									{% if request.GET.s_gle == '0' %}
      										<option value='0'  selected="selected">无</option>
         										<option value='1' >大于等于</option>
         										<option value='2'>小于等于</option>
         									{% elif  request.GET.s_gle == '1' %}
         										<option value='0' >无</option>
         										<option value='1'  selected="selected">大于等于</option>
         										<option value='2'>小于等于</option>
         									{% elif  request.GET.s_gle == '2' %}
         										<option value='0'  >无</option>
         										<option value='1' >大于等于</option>
         										<option value='2' selected="selected">小于等于</option>
         									{% endif %}
      								{% else %}
         									<option value='0'  selected="selected">无</option>
         									<option value='1' >大于等于</option>
         									<option value='2'>小于等于</option>
         								{% endif %}
      						</select>
   					</div>
   					<div class="form-group">
      						<label  for="s_value">数值</label>
     					 	<input type="number" name="s_value" id="s_value" class="form-control " value='{{request.GET.s_value}}'>
   					</div>
   					<button type="submit" class="btn  .btn-success"> 搜索 </button>
			</form>
			 
	
			</div>
			<div  class="x_content">
				
				
				
				<!--table class="table  table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>数据日期</th>
							<th>数据({%if object.sensor_type == 'T' %}°C{% endif %})</th>
							<th>传感器名字</th>
						</tr>
					</thead>
					<tbody>
						{%  for  data in  object_list %}
						<tr>
							<th scope="row">{{  data.id  }}</th>
							<td>{{  data.date_time|date:"Y-m-d H:i:s" }}</td>
							<td>{{  data.data }}</td>
							<td>{{  data.sensor.sensor_name }}</td>
							


						</tr>
					{%  endfor %}
					</tbody>
				</table-->
				<!--div id="main" style="height:550px;"></div-->
				<div class="btn-group">

  					<!--button  class="btn btn-default"--><a class="btn btn-default" href="{{ request.path}}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page=1&s_gle={{request.GET.s_gle}}"><<</a><!--/button-->
  					{% if  page_obj.has_previous %}
  					<a  class="btn btn-default" href="{{  request.path }}?s_select={{request.GET.select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page={{ page_obj.previous_page_number }}&s_gle={{request.GET.s_gle}}">上一页</a>
  					{% else %}
  					<a class="btn btn-default disabled">上一页</a>
  					{% endif %}


  					{%  for i in page_obj.paginator.page_range %}
  					{% if page_obj.has_previous and page_obj.has_next %}
  					 	{% if  i  == 1 or i == page_obj.paginator.num_pages  or   page_obj.number == i or  i == page_obj.number|add:'1' or  i == page_obj.number|add:'-1' %} 
  					 	<a  {% if page_obj.number == i %}class="btn btn-success  active" {% else %} class="btn btn-default "{% endif%} href="{{ request.path }}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page={{ i }}&s_gle={{request.GET.s_gle}}">{{ i }} </a>
  					 	{% endif %}
  					 	{% if  i == page_obj.number|add:'2' and   page_obj.number|add:'2' <  page_obj.paginator.num_pages %}
  					 	<a class="btn btn-default "  href=" " >....</a>
  					 	{% endif %}
  					 	{% if  i == page_obj.number|add:'-2' and   page_obj.number|add:'-2' > 1 %}
  					 	<a class="btn btn-default "  href=" " >....</a>
  					 	{% endif %}
  					{% elif not page_obj.has_previous %}
  						{% if  i  == 1 or i == page_obj.paginator.num_pages or  i == page_obj.number|add:'2' or  i == page_obj.number|add:'1'  or i == page_obj.paginator.num_pages|add:'-2'  or i == page_obj.paginator.num_pages|add:'-1'  %}
  					 	<a  {% if page_obj.number == i %}class="btn btn-success  active" {% else %} class="btn btn-default "{% endif%} href="{{ request.path }}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page={{ i }}&s_gle={{request.GET.s_gle}}">{{ i }} </a> {% endif %}
  					 	{% if   i == page_obj.number|add:'3' and   page_obj.number|add:'3'  <  page_obj.paginator.num_pages %}
  					  	<a class="btn btn-default " href=" " >....</a>
  					  	{% endif %}
  					{% else %}
  						{% if  i  == 1 or  i == 2 or  i == 3 or i == page_obj.paginator.num_pages or  i == page_obj.number|add:'-2' or  i == page_obj.number|add:'-1'   %}
  						<a  {% if page_obj.number == i %}class="btn btn-success  active" {% else %} class="btn btn-default "{% endif%}  href="{{ request.path }}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page={{ i }}&s_gle={{request.GET.s_gle}}">{{ i }} </a>
  						{% endif %}
  						{% if  i == page_obj.number|add:'-3'  and   page_obj.number|add:'-3' <  page_obj.paginator.num_pages %} 
  						<a class="btn btn-default " href=" " >....</a>
  						{% endif %}
  					{% endif %}
  					{% endfor %}

  					{%  if page_obj.has_next %}
  					<a class="btn btn-default" href="{{ request.path}}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page={{ page_obj.next_page_number }}&s_gle={{request.GET.s_gle}}">下一页</a>
  					{% else %}
  					<a class="btn btn-default disabled">下一页</a>
  					{% endif %}
  					<a class="btn btn-default" href="{{ request.path }}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&page={{ page_obj.paginator.num_pages}}&s_gle={{request.GET.s_gle}}">>></a>
					<div class="input-group">
						<span class="input-group-btn">
							<a class="btn btn-default"  href="." id="page_button" type="button">跳转到</a>
						</span>
						<input type="number" id="page_input" class="form-control" value="" name="">
						
					</div>
  					
				</div>
			</div>
			<!--x_content_end-->
			

		</div>
	</div>
</div>
<div class="row">
	<div  class="col-md-12  col-sm-12  col-xs-12">
		<div  class="x_panel">
			<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<x_title-->
			<div class="x_title">
				<h2>
					传感器数据图 <button id='btn_draw'>时间：{% if request.GET.s_st%}{{ request.GET.s_st }}{% else %}今天00:00:00{% endif %}  至  {% if request.GET.s_et%}{{ request.GET.s_et }}{% else %}23：59：59{% endif %} {% if request.GET.s_gle == '0' %} {% elif request.GET.s_gle == '1' %} 大于等于 {% elif request.GET.s_gle == '2' %} 小于等于 {% endif %}数值: {{request.GET.s_value}}</button>
					<small></small>
				</h2>
				
			
				<div class="clearfix"></div>
			</div>
			<!--x_title_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
			<!--x_content<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
			<div  class="x_content">
				
				
				<div id="main" style="height:550px;"></div>
			</div>
			<!--x_content_end-->
			

		</div>
	</div>
</div>
{%     endblock  %}


{%  block  javasource %}
<script src="/static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/static/js/echart/echarts-all.js"></script>
<script src="/static/js/echart/green.js"></script>

<script type="text/javascript">

$("#page_input").focusout(function(){
	x=$("#page_input").val();
	if (x <= '{{ page_obj.paginator.num_pages }}')
	{
		y="{{ request.path }}?s_select={{request.GET.s_select}}&s_st={{request.GET.s_st}}&s_et={{request.GET.s_et}}&s_value={{request.GET.s_value}}&s_gle={{request.GET.s_gle}}&page="+x;
	}
	else
	{
		y='.';
	}

	$("#page_button").attr("href",y);
});
	//$('#datetimepicker').datetimepicker();
function sortNumber(a,b)
{
return a - b
}
var dat= (function () {
                var d = [];
                var len = 0;
                var data = 0;
                var scale= '{{ object.data_scale }}';
                var temp="";
                var list_str='{{ objects_json|safe }}';
                var len="{{ object_list|length }}";
                //alert(len);
                var list_data=eval('('+list_str+')');
               for (var i=0;i<len;i++)
               {
               	temp=list_data[i].fields.date_time;
               	//alert(temp);
               	//temp=temp.replace(/-/g,'/');
               	//temp=temp.replace(/T/,' ');
               	data=list_data[i].fields.data/scale;
               	d.push([new Date(Date.parse(temp)),data]);
               }
               //alert(temp);
               //alert(d[0][0].toLocaleString());
               if(d.length>1){0
           		var len1=d.length-1;
  		$('#btn_draw').text("起点时间："+d[0][0].toLocaleString()+"		终点时间："+d[len1][0].toLocaleString()+'    数据点数:'+len1.toString());
           	}
           	if(d.length==0){
           		d.push([Date(),0]);
           		$('#btn_draw').text("当前无数据");
           	}
               return d;
           	
           	
           })();
           

  var data_l ={% if data_latest %} '{{ data_latest.data }}'/'{{ object.data_scale }}' {% else  %}  0  {% endif  %};

  var dat1=(function () {
                var d = [];
                var len = 0;
                var data = 0;
                var scale= '{{ object.data_scale }}';
               
                var list_str='{{ objects_json|safe }}';
                var len="{{ object_list|length }}";
                var list_data=eval('('+list_str+')');
               for (var i=0;i<len;i++)
               {
               	
               	
               	data=list_data[i].fields.data/scale;
               	d.push(data);
               }
               return d;
           })();
 var max1=Math.abs(dat1.sort(sortNumber).pop())*2;
 var min1 = dat1.sort(sortNumber).shift();
 var min2 = min1-Math.abs(min1)*2;

$('#datetimepicker1').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
    //$('#datetimepicker').datetimepicker();
$('#datetimepicker2').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
   var myChart7 = echarts.init(document.getElementById('status_2'), theme);
   myChart7.setOption(
   {
 title : {
        text: '统计图',
        subtext:{% if data_latest %} '{{  data_latest.date_time|date:"Y年m月d日" }}' {% else  %}  "无"  {% endif  %}
    },
    tooltip : {
        	formatter: "{a} <br/>{b} : {c}"+'{{ object.data_symbol }}'
    		},
    legend: {
        data:['统计图']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ['今天最大值','今天最小值','今天平均值','近7天平均值','月平均值','年度平均值']
        }
    ],
    yAxis : [
        {
            max:'{{ object.top_limit }}',
            min:'{{ object.down_limit }}',
            type : 'value',
             axisLabel : {
                formatter: '{value} '+ '{{ object.data_symbol }}'
            }
        }
    ],
    series : [
        {
            name:'统计图',
            type:'bar',
            data:[Number('{{ today_max.data__max }}'/'{{ object.data_scale }}').toFixed(2),
						Number('{{ today_min.data__min }}'/'{{ object.data_scale }}').toFixed(2),
						Number('{{ today_avg.data__avg }}'/'{{ object.data_scale }}').toFixed(2),
						Number('{{ today_7day_avg.data__avg }}'/'{{ object.data_scale }}').toFixed(2), 
						Number('{{ today_month_avg.data__avg }}'/'{{ object.data_scale }}').toFixed(2), 
						Number('{{ today_year_avg.data__avg }}'/'{{ object.data_scale }}').toFixed(2),  
						23.2, 7.0, 23.2] 
        }
        
    ]
	   }
   );
   
   option={
   	 	title : {
        	text : '{{ object.sensor_name }}',
        	x:'left'},
    	tooltip : {
        	formatter: "{a} <br/>{b} : {c}"+'{{ object.data_symbol }}'
    		},
    	toolbox: {
        		show : true,
        		feature : {
            		mark : {show: true},
            		restore : {show: true},
            		saveAsImage : {show: true}
        			}	
    	},
    	series : [
        	{
            	name:'个性化仪表盘',
            	type:'gauge',
            	center : ['50%', '50%'],    // 默认全局居中
            	radius : [0, '75%'],
            	startAngle: 140,
            	endAngle : -140,
            	min:Number('{{ object.down_limit }}'),                     // 最小值
            	max: Number('{{ object.top_limit }}'),                   // 最大值
            	precision: 0,               // 小数精度，默认为0，无小数点
            	splitNumber: 10,             // 分割段数，默认为5
            	axisLine: {            // 坐标轴线
                	show: true,        // 默认显示，属性show控制显示与否
                	lineStyle: {       // 属性lineStyle控制线条样式
                    	color: [[0.2, 'lightgreen'],[0.4, 'orange'],[0.8, 'skyblue'],[1, '#ff4500']], 
                    	width: 30
                	}
            	},
            	axisTick: {            // 坐标轴小标记
                	show: true,        // 属性show控制显示与否，默认不显示
                	splitNumber: 5,    // 每份split细分多少段
                	length :8,         // 属性length控制线长
                	lineStyle: {       // 属性lineStyle控制线条样式
                    	color: '#eee',
                    	width: 1,
                    	type: 'solid'
                	}
            	},
            	axisLabel: {           // 坐标轴文本标签，详见axis.axisLabel
                	show: true,
                	formatter: function(v){
                    	switch (v+''){
                        	case '10': return '弱';
                        	case '30': return '低';
                        	case '60': return '中';
                        	case '90': return '高';
                        	default: return '';
                    	}
                	},
                	textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    	color: '#333'
                	}
            	},
            	splitLine: {           // 分隔线
                	show: true,        // 默认显示，属性show控制显示与否
                	length :30,         // 属性length控制线长
                	lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                    	color: '#eee',
                    	width: 2,
                    	type: 'solid'
                	}
            	},
            	pointer : {
                length : '80%',
                width : 8,
                color : 'auto'
            },
            title : {
                show : true,
                offsetCenter: ['-65%', -10],       // x, y，单位px
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    color: '#333',
                    fontSize : 15
                }
            },
            detail : {
                show : true,
                backgroundColor: 'rgba(0,0,0,0)',
                borderWidth: 0,
                borderColor: '#ccc',
                width: 100,
                height: 40,
                offsetCenter: ['-60%', 10],       // x, y，单位px
                formatter:'{value} '+ '{{ object.data_symbol }}',
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    color: 'auto',
                    fontSize : 30
                }
            },
            data:[{value: data_l, name:{% if data_latest %}  '{{data_latest.date_time|date:"Y-m-d H:i:s" }}' {% else %} "无" {%  endif %}}]
        }
    ]
};
var myChart8 = echarts.init(document.getElementById('status_1'), theme);
 myChart8.setOption(option,true);
    var myChart9 = echarts.init(document.getElementById('main'), theme);
        myChart9.setOption({
             title : {
        text : '{{ object.sensor_name }}',
        x:'center'
        //subtext : 'dataZoom支持'
    },
    tooltip : {
        trigger: 'item',
        formatter : function (params) {
            var date = new Date(params.value[0]);
            data = date.getFullYear() + '-'
                   + (date.getMonth() + 1) + '-'
                   + date.getDate() + ' '
                   + date.getHours() + ':'
                   + date.getMinutes() + ':' + date.getSeconds();
            return '日期：'+ data + '<br/>'
                   + ' 数值：' + params.value[1] + '{{ object.data_symbol }}'
        }
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
     calculable : true,
    dataZoom: {
        show: true,
        realtime : true,
        start : 0,
        end : 100
    },
    legend : {
        data : ['{{ object.sensor_name }}'],
        x: 'left'
    },
    grid: {
        y2: 80
    },
    xAxis : [
        {
            type : 'time',
            splitNumber:15
        }
    ],
    yAxis : [
        {
            type : 'value',
            max:'{{ object.top_limit }}',
            min:'{{ object.down_limit }}',
            axisLabel : {
                formatter: '{value} '+ '{{ object.data_symbol }}'
            }
        }
    ],
    series : [
        {
            name: '{{ object.sensor_name }}',
            type: 'line',
            /*
            showAllSymbol: true,
            symbolSize: function (value){
                return Math.round(value[1]/10) + 2;
            },
            */
            data:  dat,
             markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }
   ] 
        });
var clock_time = self.setInterval("clock()",1000);
var dd=self.setInterval("now_data()",60000);
function clock(){
	var t = new Date();
	$('#clock').text(t.toLocaleString())
}
function now_data(){
    	$.ajax({
    		url:"{% url 'sensorsearch' %}",
    		//dataType:"json",
    		data:{q_t:'',q_value:1,q_or:0,q_interval:0,q_id:'{{ object.id }}'},
    		type:"get",
    		success: function aa(data)
    		{
    			//alert(data.date_time);
    			option.series[0].data[0].name = data.date_time;
    			option.series[0].data[0].value = (Number(data.data)).toFixed(2) ;
    			myChart8.setOption(option,true);

    		},
    		error:function bb(xhr,status,error)
    		{
    			alert("错误提示： " + xhr.status + " " + xhr.statusText);
    		}

    	});
  }
	

</script>
	
 {%  endblock %}

{%  block headcss%}
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{%  endblock %}
